.bg-gray-800.px-3.py-3.lg:px-5.lg:pl-3
  .flex.items-center.justify-between
    .flex.items-center.justify-start
      %a.text-xl.font-bold.flex.items-center{class: "lg:ml-2.5", href: "#"}
        %img.h-10.mr-2{alt: "Windster Logo", src: "https://api.triviacreator.com/v1/imgs/quiz/International_Pok%C3%83%C2%A9mon_logo-728e6b43-640d-4159-83ee-d61440a3b650.png"}
    .flex.items-center
      = render "layouts/shared/dropbox"
