.w-screen.h-screen.overflow-hidden.relative.before:block.before:absolute.before:bg-black.before:h-full.before:w-full.before:top-0.before:left-0.before:z-10.before:opacity-30
  %img.absolute.top-0.left-0.min-h-full.ob{alt: "", src: "https://i.imgur.com/lAsI3ml.jpeg"}
  .relative.z-20.max-w-screen-lg.mx-auto.grid.grid-cols-12.h-full.items-center
    .col-span-6
      %h1.text-white.font-extrabold.text-5xl.mb-8= t("home.main_caption")
      %p.text-stone-100.text-base
        = t("home.sub_caption")

      = link_to new_user_session_path do
        %button.mt-8.text-white.uppercase.py-4.text-base.font-light.px-10.border.border-white.hover:bg-white.hover:bg-opacity-10
          = t("home.start_button")
